services:
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
    networks:
      - demo

  minio-init:
    image: minio/mc:latest
    depends_on: [minio]
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "until mc alias set local http://minio:9000 minioadmin minioadmin; do
        echo 'Waiting for MinIO...';
        sleep 2;
      done &&
      mc mb --ignore-existing local/s3-demo &&
      mc quota set local/s3-demo --size 1Gi"
    networks:
      - demo

  app:
    # image: ghcr.io/kruchenburger/another-s3-manager:latest
    image: as3m:latest
    container_name: another-s3-manager
    depends_on:
      minio-init:
        condition: service_completed_successfully
    environment:
      JWT_SECRET_KEY: demo-secret-key
      ADMIN_PASSWORD: admin
      APP_VERSION: 0.1.0
      S3_FILE_MANAGER_CONFIG: /app/config.minio.json
      DATA_DIR: /app/data
      DEMO_MODE: "true"
      DEMO_BUCKET_LIMIT: "1GiB"
    volumes:
      - ./demo/config.minio.json:/app/config.minio.json:ro
      - app-data:/app/data
    ports:
      - "8080:8080"
    networks:
      - demo

volumes:
  minio-data:
  app-data:

networks:
  demo:
    driver: bridge
