.bar {
  height: 2px;
  background-color: var(--mantine-color-dimmed);
  opacity: 0.5;
  margin-top: 8px;
  margin-bottom: -4px;
  border-radius: 1px;
  transform-origin: left center;
  animation-name: shrink;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shrink {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
